In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
air = pd.read_csv('../data/Air_traffic_Passenger_Statistics.csv')

In [3]:
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [5]:
air.set_index(keys=['Operating Airline', 'Activity Period'], inplace=True)

In [7]:
air.head(10)

                                  Operating Airline IATA Code  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ
                  200507                                   TZ
                  200507                                   TZ
Air Canada        200507                                   AC
                  200507                                   AC
Air China         200507                                   CA
                  200507                                   CA
Air France        200507                                   AF
                  200507                                   AF
Air New Zealand   200507                                   NZ

                                  Published Airline  \
Operating Airline Activity Period
ATA Airlines      200507               ATA Airlines
                  200507               ATA Airlines
                  200507               ATA Airlines
Air Canada        200507                 Air Canada
                  200507                 Air Canada
Air China         200507                  Air China
                  200507                  Air China
Air France        200507                 Air France
                  200507                 Air France
Air New Zealand   200507            Air New Zealand

                                  Published Airline IATA Code    GEO Summary  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
Air Canada        200507                                   AC  International
                  200507                                   AC  International
Air China         200507                                   CA  International
                  200507                                   CA  International
Air France        200507                                   AF  International
                  200507                                   AF  International
Air New Zealand   200507                                   NZ  International

                                            GEO Region Activity Type Code  \
Operating Airline Activity Period
ATA Airlines      200507                            US           Deplaned
                  200507                            US           Enplaned
                  200507                            US     Thru / Transit
Air Canada        200507                        Canada           Deplaned
                  200507                        Canada           Enplaned
Air China         200507                          Asia           Deplaned
                  200507                          Asia           Enplaned
Air France        200507                        Europe           Deplaned
                  200507                        Europe           Enplaned
Air New Zealand   200507           Australia / Oceania           Deplaned

                                  Price Category Code       Terminal  \
Operating Airline Activity Period
ATA Airlines      200507                     Low Fare     Terminal 1
                  200507                     Low Fare     Terminal 1
                  200507                     Low Fare     Terminal 1
Air Canada        200507                        Other     Terminal 1
                  200507                        Other     Terminal 1
Air China         200507                        Other  International
                  200507                        Other  International
Air France        200507                        Other  International
                  200507                        Other  International
Air New Zealand   200507                        Other  International

                                  Boarding Area  Passenger Count
Operating Airline Activity Period
ATA Airlines      200507                      B            27271
                  200507                      B            29131
                  200507                      B             5415
Air Canada        200507                      B            35156
                  200507                      B            34090
Air China         200507                      G             6263
                  200507                      G             5500
Air France        200507                      A            12050
                  200507                      A            11638
Air New Zealand   200507                      G             4998

In [8]:
air.index

MultiIndex([(    'ATA Airlines', 200507),
            (    'ATA Airlines', 200507),
            (    'ATA Airlines', 200507),
            (      'Air Canada', 200507),
            (      'Air Canada', 200507),
            (       'Air China', 200507),
            (       'Air China', 200507),
            (      'Air France', 200507),
            (      'Air France', 200507),
            ( 'Air New Zealand', 200507),
            ...
            (  'Virgin America', 201803),
            (  'Virgin America', 201803),
            (  'Virgin America', 201803),
            ( 'Virgin Atlantic', 201803),
            ( 'Virgin Atlantic', 201803),
            ('Volaris Airlines', 201803),
            ('Volaris Airlines', 201803),
            (         'WOW Air', 201803),
            (         'WOW Air', 201803),
            (         'WOW Air', 201803)],
           names=['Operating Airline', 'Activity Period'], length=18398)

In [9]:
air.index.get_level_values(0)

Index(['ATA Airlines', 'ATA Airlines', 'ATA Airlines', 'Air Canada',
       'Air Canada', 'Air China', 'Air China', 'Air France', 'Air France',
       'Air New Zealand',
       ...
       'Virgin America', 'Virgin America', 'Virgin America', 'Virgin Atlantic',
       'Virgin Atlantic', 'Volaris Airlines', 'Volaris Airlines', 'WOW Air',
       'WOW Air', 'WOW Air'],
      dtype='object', name='Operating Airline', length=18398)

In [11]:
air.index.get_level_values(1)

Index([200507, 200507, 200507, 200507, 200507, 200507, 200507, 200507, 200507,
       200507,
       ...
       201803, 201803, 201803, 201803, 201803, 201803, 201803, 201803, 201803,
       201803],
      dtype='int64', name='Activity Period', length=18398)

In [13]:
air.index.names

FrozenList(['Operating Airline', 'Activity Period'])

In [15]:
air.reset_index(inplace=True)

In [16]:
air.head()

,Operating Airline,Activity Period,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,Air Canada,200507,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,Air Canada,200507,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [17]:
air.set_index(['Activity Period', 'Operating Airline'], inplace=True)
air.head(10)

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC
                Air China                                  CA
                Air China                                  CA
                Air France                                 AF
                Air France                                 AF
                Air New Zealand                            NZ

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada
                Air China                 Air China
                Air China                 Air China
                Air France               Air France
                Air France               Air France
                Air New Zealand     Air New Zealand

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International
                Air China                                  CA  International
                Air China                                  CA  International
                Air France                                 AF  International
                Air France                                 AF  International
                Air New Zealand                            NZ  International

                                            GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines                        US           Deplaned
                ATA Airlines                        US           Enplaned
                ATA Airlines                        US     Thru / Transit
                Air Canada                      Canada           Deplaned
                Air Canada                      Canada           Enplaned
                Air China                         Asia           Deplaned
                Air China                         Asia           Enplaned
                Air France                      Europe           Deplaned
                Air France                      Europe           Enplaned
                Air New Zealand    Australia / Oceania           Deplaned

                                  Price Category Code       Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare     Terminal 1
                ATA Airlines                 Low Fare     Terminal 1
                ATA Airlines                 Low Fare     Terminal 1
                Air Canada                      Other     Terminal 1
                Air Canada                      Other     Terminal 1
                Air China                       Other  International
                Air China                       Other  International
                Air France                      Other  International
                Air France                      Other  International
                Air New Zealand                 Other  International

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090
                Air China                     G             6263
                Air China                     G             5500
                Air France                    A            12050
                Air France                    A            11638
                Air New Zealand               G             4998

In [18]:
air.index

MultiIndex([(200507,     'ATA Airlines'),
            (200507,     'ATA Airlines'),
            (200507,     'ATA Airlines'),
            (200507,       'Air Canada'),
            (200507,       'Air Canada'),
            (200507,        'Air China'),
            (200507,        'Air China'),
            (200507,       'Air France'),
            (200507,       'Air France'),
            (200507,  'Air New Zealand'),
            ...
            (201803,   'Virgin America'),
            (201803,   'Virgin America'),
            (201803,   'Virgin America'),
            (201803,  'Virgin Atlantic'),
            (201803,  'Virgin Atlantic'),
            (201803, 'Volaris Airlines'),
            (201803, 'Volaris Airlines'),
            (201803,          'WOW Air'),
            (201803,          'WOW Air'),
            (201803,          'WOW Air')],
           names=['Activity Period', 'Operating Airline'], length=18398)

In [19]:
air.index.get_level_values(0)

Index([200507, 200507, 200507, 200507, 200507, 200507, 200507, 200507, 200507,
       200507,
       ...
       201803, 201803, 201803, 201803, 201803, 201803, 201803, 201803, 201803,
       201803],
      dtype='int64', name='Activity Period', length=18398)

In [20]:
air.index.get_level_values(1)

Index(['ATA Airlines', 'ATA Airlines', 'ATA Airlines', 'Air Canada',
       'Air Canada', 'Air China', 'Air China', 'Air France', 'Air France',
       'Air New Zealand',
       ...
       'Virgin America', 'Virgin America', 'Virgin America', 'Virgin Atlantic',
       'Virgin Atlantic', 'Volaris Airlines', 'Volaris Airlines', 'WOW Air',
       'WOW Air', 'WOW Air'],
      dtype='object', name='Operating Airline', length=18398)

In [21]:
air.index.names

FrozenList(['Activity Period', 'Operating Airline'])

In [23]:
air.reset_index(inplace=True)

In [24]:
air

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090
...,...,...,...,...,...,...,...,...,...,...,...,...
18393,201803,Volaris Airlines,Y4,Volaris Airlines,Y4,International,Mexico,Deplaned,Low Fare,International,A,4347
18394,201803,Volaris Airlines,Y4,Volaris Airlines,Y4,International,Mexico,Enplaned,Low Fare,International,A,4228
18395,201803,WOW Air,WW,WOW Air,WW,International,Europe,Enplaned,Other,International,A,4292
18396,201803,WOW Air,WW,WOW Air,WW,International,Europe,Deplaned,Other,International,G,2699
18397,201803,WOW Air,WW,WOW Air,WW,International,Europe,Enplaned,Other,International,G,10

In [33]:
air.pivot_table(index=['Operating Airline'], 
                columns=['Price Category Code', 'Terminal'], 
                values='Passenger Count', 
                aggfunc='sum').fillna(0)

Price Category Code                           Low Fare                        \
Terminal                                 International Terminal 1 Terminal 2
Operating Airline
ABC Aerolineas S.A. de C.V. dba Interjet           0.0        0.0        0.0
ATA Airlines                                    2081.0   382493.0        0.0
Aer Lingus                                         0.0        0.0        0.0
Aeromexico                                         0.0        0.0        0.0
Air Berlin                                         0.0        0.0        0.0
...                                                ...        ...        ...
WOW Air                                        19368.0        0.0        0.0
WestJet Airlines                                   0.0        0.0        0.0
World Airways                                      0.0        0.0        0.0
XL Airways France                                  0.0        0.0        0.0
Xtra Airways                                       0.0        0.0        0.0

Price Category Code                                         Other        \
Terminal                                 Terminal 3 International Other
Operating Airline
ABC Aerolineas S.A. de C.V. dba Interjet        0.0        2302.0   0.0
ATA Airlines                                  190.0           0.0   0.0
Aer Lingus                                      0.0      732545.0   0.0
Aeromexico                                      0.0     1596740.0   0.0
Air Berlin                                      0.0      235155.0   0.0
...                                             ...           ...   ...
WOW Air                                         0.0      233488.0   0.0
WestJet Airlines                                0.0      754542.0   0.0
World Airways                                   0.0         785.0   0.0
XL Airways France                               0.0      116914.0   0.0
Xtra Airways                                    0.0         146.0   0.0

Price Category Code
Terminal                                 Terminal 1 Terminal 2 Terminal 3
Operating Airline
ABC Aerolineas S.A. de C.V. dba Interjet        0.0        0.0        0.0
ATA Airlines                                    0.0        0.0        0.0
Aer Lingus                                      0.0        0.0        0.0
Aeromexico                                      0.0        0.0        0.0
Air Berlin                                      0.0        0.0        0.0
...                                             ...        ...        ...
WOW Air                                         0.0        0.0        0.0
WestJet Airlines                                0.0        0.0        0.0
World Airways                                   0.0        0.0        0.0
XL Airways France                               0.0        0.0        0.0
Xtra Airways                                    0.0        0.0        0.0

[86 rows x 9 columns]