In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [17]:
frame = pd.read_csv('../data/mcdonalds.csv', usecols=['Item', 'Calories', 'TotalFat', 'Sugars', 'Protein'])

In [4]:
frame.head()

                               Item  Calories  TotalFat  Sugars  Protein
0                      Egg McMuffin       300      13.0       3       17
1                 Egg White Delight       250       8.0       3       18
2                  Sausage McMuffin       370      23.0       2       14
3         Sausage McMuffin with Egg       450      28.0       2       21
4  Sausage McMuffin with Egg Whites       400      23.0       2       21

In [18]:
frame.TotalFat.head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [8]:
frame['Item'].head()

0                        Egg McMuffin
1                   Egg White Delight
2                    Sausage McMuffin
3           Sausage McMuffin with Egg
4    Sausage McMuffin with Egg Whites
Name: Item, dtype: object

In [19]:
SugarAndFat = frame.Sugars + frame.TotalFat

In [28]:
frame['SugarsAndFat'] = SugarAndFat

In [12]:
frame.head()

,Item,Calories,TotalFat,Sugars,Protein,SugarsAndFat
0,Egg McMuffin,300,13.0,3,17,16.0
1,Egg White Delight,250,8.0,3,18,11.0
2,Sausage McMuffin,370,23.0,2,14,25.0
3,Sausage McMuffin with Egg,450,28.0,2,21,30.0
4,Sausage McMuffin with Egg Whites,400,23.0,2,21,25.0

In [20]:
frame['SugarsAndProtein'] = frame.Sugars + frame.Protein

In [14]:
frame.head()

,Item,Calories,TotalFat,Sugars,Protein,SugarsAndFat,SugarsAndProtein
0,Egg McMuffin,300,13.0,3,17,16.0,20
1,Egg White Delight,250,8.0,3,18,11.0,21
2,Sausage McMuffin,370,23.0,2,14,25.0,16
3,Sausage McMuffin with Egg,450,28.0,2,21,30.0,23
4,Sausage McMuffin with Egg Whites,400,23.0,2,21,25.0,23

In [21]:
frame.insert(
    loc=2,
    column='SPF',
    value=frame.Sugars + frame.TotalFat + frame.Protein
)

In [22]:
frame.head()

,Item,Calories,SPF,TotalFat,Sugars,Protein,SugarsAndProtein
0,Egg McMuffin,300,33.0,13.0,3,17,20
1,Egg White Delight,250,29.0,8.0,3,18,21
2,Sausage McMuffin,370,39.0,23.0,2,14,16
3,Sausage McMuffin with Egg,450,51.0,28.0,2,21,23
4,Sausage McMuffin with Egg Whites,400,46.0,23.0,2,21,23

In [24]:
del frame['SugarsAndProtein']

In [30]:
frame.head()

,Item,Calories,SPF,TotalFat,Sugars,Protein,SugarsAndFat
0,Egg McMuffin,300,33.0,13.0,3,17,16.0
1,Egg White Delight,250,29.0,8.0,3,18,11.0
2,Sausage McMuffin,370,39.0,23.0,2,14,25.0
3,Sausage McMuffin with Egg,450,51.0,28.0,2,21,30.0
4,Sausage McMuffin with Egg Whites,400,46.0,23.0,2,21,25.0

In [33]:
frame = frame.drop(columns=['SugarsAndFat'])

In [34]:
frame.head()

                               Item  Calories   SPF  TotalFat  Sugars  Protein
0                      Egg McMuffin       300  33.0      13.0       3       17
1                 Egg White Delight       250  29.0       8.0       3       18
2                  Sausage McMuffin       370  39.0      23.0       2       14
3         Sausage McMuffin with Egg       450  51.0      28.0       2       21
4  Sausage McMuffin with Egg Whites       400  46.0      23.0       2       21

In [35]:
frame.drop(labels='SPF',
           axis=1,
           inplace=True)

In [36]:
frame.head()

                               Item  Calories  TotalFat  Sugars  Protein
0                      Egg McMuffin       300      13.0       3       17
1                 Egg White Delight       250       8.0       3       18
2                  Sausage McMuffin       370      23.0       2       14
3         Sausage McMuffin with Egg       450      28.0       2       21
4  Sausage McMuffin with Egg Whites       400      23.0       2       21