In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [4]:
suppliers = pd.read_csv('../data/northwind/suppliers.csv',
                         usecols= ['SupplierID', 'CompanyName', 'Country'])

customers = pd.read_csv('../data/northwind/customers.csv',
                         usecols= ['CustomerID', 'CompanyName', 'Country'])

In [7]:
suppliers.head()

   SupplierID                         CompanyName Country
0           1                      Exotic Liquids      UK
1           2          New Orleans Cajun Delights     USA
2           3           Grandma Kelly's Homestead     USA
3           4                       Tokyo Traders   Japan
4           5  Cooperativa de Quesos 'Las Cabras'   Spain

In [8]:
customers.head()

  CustomerID                         CompanyName  Country
0      ALFKI                 Alfreds Futterkiste  Germany
1      ANATR  Ana Trujillo Emparedados y helados   Mexico
2      ANTON            Antonio Moreno Taquer?­a   Mexico
3      AROUT                     Around the Horn       UK
4      BERGS                 Berglunds snabbk?¶p   Sweden

In [18]:
print(customers.index.size, len(suppliers)) # different method of getting size of frame (rows)

91 29

In [22]:
# suppliers.append(customers) -> withdrawn method
dfAppended = pd.concat([suppliers, customers])

In [23]:
len(dfAppended)

120

In [26]:
dfAppended.head(40)

    SupplierID                             CompanyName      Country CustomerID
0          1.0                          Exotic Liquids           UK        NaN
1          2.0              New Orleans Cajun Delights          USA        NaN
2          3.0               Grandma Kelly's Homestead          USA        NaN
3          4.0                           Tokyo Traders        Japan        NaN
4          5.0      Cooperativa de Quesos 'Las Cabras'        Spain        NaN
5          6.0                                Mayumi's        Japan        NaN
6          7.0                            Pavlova Ltd.    Australia        NaN
7          8.0                 Specialty Biscuits Ltd.           UK        NaN
8          9.0                        PB Knäckebröd AB       Sweden        NaN
9         10.0               Refrescos Americanas LTDA       Brazil        NaN
10        11.0             Heli Süßwaren GmbH & Co. KG      Germany        NaN
11        12.0       Plutzer Lebensmittelgroßmärkte AG      Germany        NaN
12        13.0  Nord-Ost-Fisch Handelsgesellschaft mbH      Germany        NaN
13        14.0                 Formaggi Fortini s.r.l.        Italy        NaN
14        15.0                         Norske Meierier       Norway        NaN
15        16.0                       Bigfoot Breweries          USA        NaN
16        17.0                       Svensk Sjöföda AB       Sweden        NaN
17        18.0              Aux joyeux ecclésiastiques       France        NaN
18        19.0             New England Seafood Cannery          USA        NaN
19        20.0                            Leka Trading    Singapore        NaN
20        21.0                              Lyngbysild      Denmark        NaN
21        22.0                     Zaanse Snoepfabriek  Netherlands        NaN
22        23.0                               Karkki Oy      Finland        NaN
23        24.0                              G'day Mate    Australia        NaN
24        25.0                               Ma Maison       Canada        NaN
25        26.0                    Pasta Buttini s.r.l.        Italy        NaN
26        27.0                      Escargots Nouveaux       France        NaN
27        28.0                            Gai pâturage       France        NaN
28        29.0                        Forêts d'érables       Canada        NaN
0          NaN                     Alfreds Futterkiste      Germany      ALFKI
1          NaN      Ana Trujillo Emparedados y helados       Mexico      ANATR
2          NaN                Antonio Moreno Taquer?­a       Mexico      ANTON
3          NaN                         Around the Horn           UK      AROUT
4          NaN                     Berglunds snabbk?¶p       Sweden      BERGS
5          NaN                 Blauer See Delikatessen      Germany      BLAUS
6          NaN               Blondesddsl p?¨re et fils       France      BLONP
7          NaN              B??lido Comidas preparadas        Spain      BOLID
8          NaN                                Bon app'       France      BONAP
9          NaN                   Bottom-Dollar Markets       Canada      BOTTM
10         NaN                           B's Beverages           UK      BSBEV

In [27]:
dfAppended = pd.concat([suppliers, customers], ignore_index=True)

In [28]:
dfAppended.head(40)

    SupplierID                             CompanyName      Country CustomerID
0          1.0                          Exotic Liquids           UK        NaN
1          2.0              New Orleans Cajun Delights          USA        NaN
2          3.0               Grandma Kelly's Homestead          USA        NaN
3          4.0                           Tokyo Traders        Japan        NaN
4          5.0      Cooperativa de Quesos 'Las Cabras'        Spain        NaN
5          6.0                                Mayumi's        Japan        NaN
6          7.0                            Pavlova Ltd.    Australia        NaN
7          8.0                 Specialty Biscuits Ltd.           UK        NaN
8          9.0                        PB Knäckebröd AB       Sweden        NaN
9         10.0               Refrescos Americanas LTDA       Brazil        NaN
10        11.0             Heli Süßwaren GmbH & Co. KG      Germany        NaN
11        12.0       Plutzer Lebensmittelgroßmärkte AG      Germany        NaN
12        13.0  Nord-Ost-Fisch Handelsgesellschaft mbH      Germany        NaN
13        14.0                 Formaggi Fortini s.r.l.        Italy        NaN
14        15.0                         Norske Meierier       Norway        NaN
15        16.0                       Bigfoot Breweries          USA        NaN
16        17.0                       Svensk Sjöföda AB       Sweden        NaN
17        18.0              Aux joyeux ecclésiastiques       France        NaN
18        19.0             New England Seafood Cannery          USA        NaN
19        20.0                            Leka Trading    Singapore        NaN
20        21.0                              Lyngbysild      Denmark        NaN
21        22.0                     Zaanse Snoepfabriek  Netherlands        NaN
22        23.0                               Karkki Oy      Finland        NaN
23        24.0                              G'day Mate    Australia        NaN
24        25.0                               Ma Maison       Canada        NaN
25        26.0                    Pasta Buttini s.r.l.        Italy        NaN
26        27.0                      Escargots Nouveaux       France        NaN
27        28.0                            Gai pâturage       France        NaN
28        29.0                        Forêts d'érables       Canada        NaN
29         NaN                     Alfreds Futterkiste      Germany      ALFKI
30         NaN      Ana Trujillo Emparedados y helados       Mexico      ANATR
31         NaN                Antonio Moreno Taquer?­a       Mexico      ANTON
32         NaN                         Around the Horn           UK      AROUT
33         NaN                     Berglunds snabbk?¶p       Sweden      BERGS
34         NaN                 Blauer See Delikatessen      Germany      BLAUS
35         NaN               Blondesddsl p?¨re et fils       France      BLONP
36         NaN              B??lido Comidas preparadas        Spain      BOLID
37         NaN                                Bon app'       France      BONAP
38         NaN                   Bottom-Dollar Markets       Canada      BOTTM
39         NaN                           B's Beverages           UK      BSBEV

In [29]:
suppl2 = suppliers.copy()
cust2 = customers.copy()

In [41]:
suppl2.rename(columns={'SupplierID' : 'ID'}, inplace=True)
cust2.rename(columns={'CustomerID' : 'ID'}, inplace=True)

In [42]:
pd.concat([suppl2, cust2])

       ID                         CompanyName  Country
0       1                      Exotic Liquids       UK
1       2          New Orleans Cajun Delights      USA
2       3           Grandma Kelly's Homestead      USA
3       4                       Tokyo Traders    Japan
4       5  Cooperativa de Quesos 'Las Cabras'    Spain
..    ...                                 ...      ...
86  WARTH                      Wartian Herkku  Finland
87  WELLI              Wellington Importadora   Brazil
88  WHITC                White Clover Markets      USA
89  WILMK                         Wilman Kala  Finland
90  WOLZA                      Wolski  Zajazd   Poland

[120 rows x 3 columns]

In [48]:
df_concatenated = pd.concat([suppl2, cust2], ignore_index=True)

In [49]:
df_concatenated

        ID                         CompanyName  Country
0        1                      Exotic Liquids       UK
1        2          New Orleans Cajun Delights      USA
2        3           Grandma Kelly's Homestead      USA
3        4                       Tokyo Traders    Japan
4        5  Cooperativa de Quesos 'Las Cabras'    Spain
..     ...                                 ...      ...
115  WARTH                      Wartian Herkku  Finland
116  WELLI              Wellington Importadora   Brazil
117  WHITC                White Clover Markets      USA
118  WILMK                         Wilman Kala  Finland
119  WOLZA                      Wolski  Zajazd   Poland

[120 rows x 3 columns]