In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
suppliers = pd.read_csv('../data/northwind/suppliers_del_1.csv',
                        usecols=['SupplierID', 'CompanyName', 'City'])
products = pd.read_csv('../data/northwind/products_del_1.csv',
                        usecols=['SupplierID', 'ProductID', 'ProductName'])

In [3]:
suppliers

    SupplierID                             CompanyName           City
0            1                          Exotic Liquids         London
1            2              New Orleans Cajun Delights    New Orleans
2            3               Grandma Kelly's Homestead      Ann Arbor
3            4                           Tokyo Traders          Tokyo
4            5      Cooperativa de Quesos 'Las Cabras'         Oviedo
5            6                                Mayumi's          Osaka
6            7                            Pavlova Ltd.      Melbourne
7            8                 Specialty Biscuits Ltd.     Manchester
8           10               Refrescos Americanas LTDA      Sao Paulo
9           11             Heli Süßwaren GmbH & Co. KG         Berlin
10          12       Plutzer Lebensmittelgroßmärkte AG      Frankfurt
11          13  Nord-Ost-Fisch Handelsgesellschaft mbH       Cuxhaven
12          14                 Formaggi Fortini s.r.l.     75 Ravenna
13          15                         Norske Meierier       Sandvika
14          16                       Bigfoot Breweries           Bend
15          18              Aux joyeux ecclésiastiques          Paris
16          19             New England Seafood Cannery         Boston
17          20                            Leka Trading      Singapore
18          21                              Lyngbysild         Lyngby
19          22                     Zaanse Snoepfabriek        Zaandam
20          23                               Karkki Oy   Lappeenranta
21          24                              G'day Mate         Sydney
22          25                               Ma Maison       Montréal
23          26                    Pasta Buttini s.r.l.        Salerno
24          27                      Escargots Nouveaux       Montceau
25          28                            Gai pâturage         Annecy
26          29                        Forêts d'érables  Ste-Hyacinthe

In [4]:
products

    ProductID                      ProductName  SupplierID
0           1                             Chai           1
1           2                            Chang           1
2           3                    Aniseed Syrup           1
3           4     Chef Anton's Cajun Seasoning           2
4           5           Chef Anton's Gumbo Mix           2
..        ...                              ...         ...
70         73                       Röd Kaviar          17
71         74                    Longlife Tofu           4
72         75             Rhönbräu Klosterbier          12
73         76                     Lakkalikööri          23
74         77  Original Frankfurter grüne Soße          12

[75 rows x 3 columns]

In [7]:
prod_and_sup = products.merge(suppliers, how='inner')
prod_and_sup

,ProductID,ProductName,SupplierID,CompanyName,City
0,1,Chai,1,Exotic Liquids,London
1,2,Chang,1,Exotic Liquids,London
2,3,Aniseed Syrup,1,Exotic Liquids,London
3,4,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans
4,5,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans
...,...,...,...,...,...
65,72,Mozzarella di Giovanni,14,Formaggi Fortini s.r.l.,75 Ravenna
66,74,Longlife Tofu,4,Tokyo Traders,Tokyo
67,75,Rhönbräu Klosterbier,12,Plutzer Lebensmittelgroßmärkte AG,Frankfurt
68,76,Lakkalikööri,23,Karkki Oy,Lappeenranta
69,77,Original Frankfurter grüne Soße,12,Plutzer Lebensmittelgroßmärkte AG,Frankfurt

In [15]:
prod_and_sup_outer = products.merge(suppliers, how='outer', indicator=True)
prod_and_sup_outer

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,3.0,Aniseed Syrup,1,Exotic Liquids,London,both
3,4.0,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans,both
4,5.0,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans,both
...,...,...,...,...,...,...
71,57.0,Ravioli Angelo,26,Pasta Buttini s.r.l.,Salerno,both
72,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only
73,60.0,Camembert Pierrot,28,Gai pâturage,Annecy,both
74,61.0,Sirop d'érable,29,Forêts d'érables,Ste-Hyacinthe,both
75,62.0,Tarte au sucre,29,Forêts d'érables,Ste-Hyacinthe,both

In [17]:
var = prod_and_sup_outer['_merge'] == 'left_only'
var

0     False
1     False
2     False
3     False
4     False
      ...
71    False
72    False
73    False
74    False
75    False
Name: _merge, Length: 76, dtype: bool

In [20]:
prod_and_sup_outer[var]

    ProductID          ProductName  SupplierID CompanyName City     _merge
27       22.0  Gustaf's Knäckebröd           9         NaN  NaN  left_only
28       23.0             Tunnbröd           9         NaN  NaN  left_only
48       36.0          Inlagd Sill          17         NaN  NaN  left_only
49       37.0           Gravad lax          17         NaN  NaN  left_only
50       73.0           Röd Kaviar          17         NaN  NaN  left_only

In [19]:
suppliers

    SupplierID                             CompanyName           City
0            1                          Exotic Liquids         London
1            2              New Orleans Cajun Delights    New Orleans
2            3               Grandma Kelly's Homestead      Ann Arbor
3            4                           Tokyo Traders          Tokyo
4            5      Cooperativa de Quesos 'Las Cabras'         Oviedo
5            6                                Mayumi's          Osaka
6            7                            Pavlova Ltd.      Melbourne
7            8                 Specialty Biscuits Ltd.     Manchester
8           10               Refrescos Americanas LTDA      Sao Paulo
9           11             Heli Süßwaren GmbH & Co. KG         Berlin
10          12       Plutzer Lebensmittelgroßmärkte AG      Frankfurt
11          13  Nord-Ost-Fisch Handelsgesellschaft mbH       Cuxhaven
12          14                 Formaggi Fortini s.r.l.     75 Ravenna
13          15                         Norske Meierier       Sandvika
14          16                       Bigfoot Breweries           Bend
15          18              Aux joyeux ecclésiastiques          Paris
16          19             New England Seafood Cannery         Boston
17          20                            Leka Trading      Singapore
18          21                              Lyngbysild         Lyngby
19          22                     Zaanse Snoepfabriek        Zaandam
20          23                               Karkki Oy   Lappeenranta
21          24                              G'day Mate         Sydney
22          25                               Ma Maison       Montréal
23          26                    Pasta Buttini s.r.l.        Salerno
24          27                      Escargots Nouveaux       Montceau
25          28                            Gai pâturage         Annecy
26          29                        Forêts d'érables  Ste-Hyacinthe

In [22]:
var = prod_and_sup_outer['_merge'] == 'right_only'
var

0     False
1     False
2     False
3     False
4     False
      ...
71    False
72     True
73    False
74    False
75    False
Name: _merge, Length: 76, dtype: bool

In [23]:
prod_and_sup_outer[var]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
72,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only