In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [29]:
suppliers = pd.read_csv('../data/northwind/suppliers.csv',
                        usecols=['SupplierID', 'CompanyName', 'City'])
products = pd.read_csv('../data/northwind/products.csv',
                        usecols=['SupplierID', 'ProductName', 'ProductID'])

In [30]:
suppliers.merge(right=products, on='SupplierID')

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,1,Exotic Liquids,London,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...
72,27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
73,28,Gai pâturage,Annecy,59,Raclette Courdavault
74,28,Gai pâturage,Annecy,60,Camembert Pierrot
75,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
76,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [31]:
suppliers.set_index('SupplierID', inplace=True)

In [32]:
suppliers.merge(right=products, right_on='SupplierID', left_index=True)

,CompanyName,City,ProductID,ProductName,SupplierID
0,Exotic Liquids,London,1,Chai,1
1,Exotic Liquids,London,2,Chang,1
2,Exotic Liquids,London,3,Aniseed Syrup,1
3,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning,2
4,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix,2
...,...,...,...,...,...
57,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne,27
58,Gai pâturage,Annecy,59,Raclette Courdavault,28
59,Gai pâturage,Annecy,60,Camembert Pierrot,28
60,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable,29
61,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre,29

In [7]:
products.set_index('SupplierID', inplace=True)

In [18]:
suppliers.merge(right=products, left_index=True, right_index=True)

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
1,Exotic Liquids,London,3,Aniseed Syrup
2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...
27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
28,Gai pâturage,Annecy,59,Raclette Courdavault
28,Gai pâturage,Annecy,60,Camembert Pierrot
29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [19]:
suppliers.reset_index(inplace=True)

In [20]:
suppliers.merge(right=products, left_on='SupplierID', right_index=True)

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
0,1,Exotic Liquids,London,2,Chang
0,1,Exotic Liquids,London,3,Aniseed Syrup
1,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
1,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...
26,27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
27,28,Gai pâturage,Annecy,59,Raclette Courdavault
27,28,Gai pâturage,Annecy,60,Camembert Pierrot
28,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
28,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [21]:
products.reset_index(inplace=True)

In [23]:
products.rename({'SupplierID' : 'supplier_id'}, axis='columns', inplace=True)

In [25]:
suppliers.merge(products, left_on='SupplierID', right_on='supplier_id')

,SupplierID,CompanyName,City,supplier_id,ProductID,ProductName
0,1,Exotic Liquids,London,1,1,Chai
1,1,Exotic Liquids,London,1,2,Chang
2,1,Exotic Liquids,London,1,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,2,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,2,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...,...
72,27,Escargots Nouveaux,Montceau,27,58,Escargots de Bourgogne
73,28,Gai pâturage,Annecy,28,59,Raclette Courdavault
74,28,Gai pâturage,Annecy,28,60,Camembert Pierrot
75,29,Forêts d'érables,Ste-Hyacinthe,29,61,Sirop d'érable
76,29,Forêts d'érables,Ste-Hyacinthe,29,62,Tarte au sucre