In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
products = pd.read_csv('../data/WA_Sales_Products_2012-14.csv')

In [3]:
groups = products.groupby(by=['Retailer country', 'Year'])

In [5]:
groups.size()

Retailer country  Year
Australia         2012    1402
                  2013    1376
                  2014     887
Austria           2012    1436
                  2013    1469
                          ...
United Kingdom    2013    1845
                  2014    1258
United States     2012    3309
                  2013    2506
                  2014    1667
Length: 63, dtype: int64

In [7]:
groups.sum(True).head(10)

                           Revenue  Quantity  Gross margin
Retailer country Year
Australia        2012  25607043.50    522186    625.835424
                 2013  47799737.14    839750    625.650690
                 2014  35893188.50    638845    390.336301
Austria          2012  34568089.63    702134    636.115492
                 2013  44996737.04    803771    665.086198
                 2014  33801788.98    596301    422.637486
Belgium          2012  30396297.49    635694    592.017290
                 2013  38375432.68    662157    667.302813
                 2014  28186839.74    501170    393.968282
Brazil           2012  34234876.30    688643    540.191035

In [8]:
groups.get_group(('Australia', 2012))

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
3735,Australia,Telephone,Golf Shop,Personal Accessories,Watches,Mountain Man Digital,2012,Q1 2012,2161.34,53,0.509564
3736,Australia,Telephone,Golf Shop,Personal Accessories,Binoculars,Seeker Mini,2012,Q1 2012,5689.60,70,0.507874
3737,Australia,Telephone,Golf Shop,Personal Accessories,Navigation,Glacier GPS,2012,Q1 2012,17337.34,158,0.284152
3738,Australia,Telephone,Golf Shop,Golf Equipment,Irons,Hailstorm Steel Irons,2012,Q1 2012,96118.50,255,0.413692
3739,Australia,Telephone,Golf Shop,Golf Equipment,Irons,Hailstorm Titanium Irons,2012,Q1 2012,40149.72,46,0.437513
...,...,...,...,...,...,...,...,...,...,...,...
29668,Australia,Sales visit,Eyewear Store,Personal Accessories,Eyewear,Polar Wave,2012,Q4 2012,1243.06,13,0.569964
29669,Australia,Sales visit,Eyewear Store,Personal Accessories,Eyewear,Polar Extreme,2012,Q4 2012,4300.70,29,0.511126
29670,Australia,Sales visit,Eyewear Store,Personal Accessories,Binoculars,Seeker 35,2012,Q4 2012,12767.13,129,0.280691
29671,Australia,Sales visit,Eyewear Store,Personal Accessories,Navigation,Glacier Basic,2012,Q4 2012,14862.10,649,0.257642
29672,Australia,Sales visit,Eyewear Store,Personal Accessories,Navigation,Glacier GPS Extreme,2012,Q4 2012,20281.20,60,0.477930